<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AComputers</title>

    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png" type="image/gif" sizes="14x16">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheet/css/navigation_bar.css">
    <link rel="stylesheet" href="/stylesheet/css/footer.css">
    <link rel="stylesheet" href="/stylesheet/css/slidshowstyle.css">
  </head>

  <body>
    <div class="stk">
          <nav>
            <div class="logo">
              <img class="headerlogo1" src="/images/logo c1.png" alt="">  </div>
            <div class="menu">
              <ul>
                <a href="/admin">Admin</a>
              </ul>
            </div>
          </nav>

 <!-- ------------Section 1 Slid show Images code start----------------- -->   
      <section>
       <div class="slideshow-container">
          <div class="mySlides">
            <img src="/images\01.png" style="width:100%">
          </div>

          <div class="mySlides">
            <img src="/images\02.png" style="width:100%">
          </div>
          
          <div class="mySlides">
            <img src="/images\03.png" style="width:100%">
          </div>
          
          <div class="mySlides">
            <img src="/images\04.png" style="width:100%">
          </div>

          <div class="mySlides">
            <img src="/images\05.png" style="width:100%">
          </div>

          <div class="mySlides">
            <img src="/images\06.png" style="width:100%">
          </div>
        
        </div>
        <br>
        <div style="text-align:center;">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
        <br>
        
      </section>
        <!-- -----------Section 1 Slid show Images code End-------- -->
        
        <div class="promo-area">
          <div class="zigzag-bottom"></div>
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-6">
                      <div class="single-promo promo1">
                          <i class="fa fa-refresh"></i>
                          <p>30 Days return</p>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                      <div class="single-promo promo2">
                          <i class="fa fa-truck"></i>
                          <p>Free shipping</p>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                      <div class="single-promo promo3">
                          <i class="fa fa-lock"></i>
                          <p>Secure payments</p>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                      <div class="single-promo promo4">
                          <i class="fa fa-gift"></i>
                          <p>New products</p>
                      </div>
                  </div>
              </div>
          </div>
      </div> <!-- End promo area -->


        <!-- --------------Section 2 code start--------- -->
      <section  style="background-color:#f7f7f9; padding: 5%;">
        <div class="section2-container">
          <h2 class="section3_h2" >Latest Products</h2>
          <div class="row">
            <div class="col-sm-4">
              <img src="/images\m01.png" style="width:100%">
            </div>
            <div class="col-sm-4">
              <img src="/images\m02.png" style="width:100%">
              </div>
            <div class="col-sm-4">
              <img src="/images\m03.png" style="width:100%">
            </div>
            <div class="col-sm-4">
              <img src="/images\m04.png" style="width:100%">
            </div>
            <div class="col-sm-4">
              <img src="/images\m05.png" style="width:100%">
              </div>
            <div class="col-sm-4">
              <img src="/images\m06.png" style="width:100%">
            </div>
          </div>
        </div>
      </section>
        <!-- --------------Section 2 code start--------- -->

        <!-- --------------Section 3 code start--------- -->
        <section class="section_3">
          <h2 class="section3_h2" >Top Brands</h2>
          <div id="demo" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner section3-container" id="nr">
                <div class="carousel-item active">
                        <div id="img1" class="col-sm-4">
                            <img src="/images/brand1.png" alt="New York">
                        </div>
                        <div id="img2" class="col-sm-4">
                            <img src="/images/brand2.png" alt="New York">
                        </div>
                        <div id="img3" class="col-sm-4">
                            <img src="/images/brand3.png" alt="New York">
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div id="img4" class="col-sm-4">
                            <img src="/images/brand4.png" alt="New York"> 
                        </div>
                        <div id="img5" class="col-sm-4">
                            <img src="/images/brand5.png" alt="New York">
                        </div>
                        <div id="img6" class="col-sm-4">
                            <img src="/images/brand6.png" alt="New York">
                        </div>
                    </div>

                </div>
          </div>
         
        </section>
        <!-- --------------Section 3 code start--------- -->
<footer class="footer-distributed">

  <div class="footer-left">

     <img class="footerlogonav" src="/images/logo c3.png" alt="">

    <p class="footer-company-name">© 2020|All Rights Reserved By ORIC|Developed & Maintained Nouman</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p>Padidan Dist: Noshehro Feroz<span>Sindh, Pakistan</span> </p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+92 300000000000</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:AZ@gmail.com">Azhar_Computers@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Our Story begen in 2019.We strive to Azhar Computers the number-onedesination for stylish inteligent women who crave thought-provoking conversation around limitation ideas.
    </p>

    <p style="color: white">Web Design By :<a style="color: white!important" href="https://nouman26.github.io/" > https://nouman26.github.io/</a></p>


    <div class="footer-icons">

      <a href="#">
        <i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>

    </div>

  </div>

</footer>
      </div>


      <script src="/stylesheet/js/jquery.js"></script>
      <script>
        $(document).ready(function(){
          $(window).scroll(function(){
            if( $(window).scrollTop()==0){
                $('.logo img').removeClass("headerlogo2");
                $('.logo img').addClass('headerlogo1');
              }
            else if( $(window).scrollTop()>80){
              $('.logo img').removeClass("headerlogo1");
                $('.logo img').addClass('headerlogo2');
              }
          });
          $("#img1 button,#img2 button,#img3 button,#img4 button,#img5 button,#img6 button,#img7 button,#img8 button,#img9 button,#img10 button,#img11 button,#img12 button").hide();

           $("#img1 img").hover(function(){ $('#img1 button').slideDown('slow');  });
           $("#img2 img").hover(function(){ $('#img2 button').slideDown('slow');  });
           $("#img3 img").hover(function(){ $('#img3 button').slideDown('slow');  });
           $("#img4 img").hover(function(){ $('#img4 button').slideDown('slow');  });
           $("#img5 img").hover(function(){ $('#img5 button').slideDown('slow');  });
           $("#img6 img").hover(function(){ $('#img6 button').slideDown('slow');  });
           $("#img7 img").hover(function(){ $('#img7 button').slideDown('slow');  });
           $("#img8 img").hover(function(){ $('#img8 button').slideDown('slow');  });
           $("#img9 img").hover(function(){ $('#img9 button').slideDown('slow');  });
           $("#img10 img").hover(function(){ $('#img10 button').slideDown('slow');  });
           $("#img11 img").hover(function(){ $('#img11 button').slideDown('slow');  });
           $("#img12 img").hover(function(){ $('#img12 button').slideDown('slow');  });

           $("#img1").mouseleave(function(){ $('#img1 button').slideUp('slow');  });
           $("#img2").mouseleave(function(){ $('#img2 button').slideUp('slow');  });
           $("#img3").mouseleave(function(){ $('#img3 button').slideUp('slow');  });
           $("#img4").mouseleave(function(){ $('#img4 button').slideUp('slow');  });
           $("#img5").mouseleave(function(){ $('#img5 button').slideUp('slow');  });
           $("#img6").mouseleave(function(){ $('#img6 button').slideUp('slow');  });
           $("#img7").mouseleave(function(){ $('#img7 button').slideUp('slow');  });
           $("#img8").mouseleave(function(){ $('#img8 button').slideUp('slow');  });
           $("#img9").mouseleave(function(){ $('#img9 button').slideUp('slow');  });
           $("#img10").mouseleave(function(){ $('#img10 button').slideUp('slow');  });
           $("#img11").mouseleave(function(){ $('#img11 button').slideUp('slow');  });
           $("#img12").mouseleave(function(){ $('#img12 button').slideUp('slow');  });
        });

        
// Code For Image Slid Show
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active1", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active1";
  setTimeout(showSlides, 3000); // Change image every 2 seconds
}

//section 3
var parentNode=document.getElementById('nr'); // parent Node

            if(window.innerWidth<=768 && window.innerWidth>=400){
                var newdiv1=document.createElement('div');
                var newdiv2=document.createElement('div');
             
                var cl=document.getElementsByClassName('carousel-item');
                
                for(var i=0;i<cl.length;i++){
                    if(i%2==0){
                    var ch=cl[i].lastElementChild;
                    var duplicate=ch.cloneNode(true);
                    if(i==0 || i==1){
                      newdiv1.append(duplicate);}
                    else{
                      newdiv2.append(duplicate);
                    }
                    cl[i].removeChild(ch);
                    }
                    else if(i%2==1){
                        var ch=cl[i].firstElementChild;
                        var duplicate=ch.cloneNode(true);
                        if(i==0 || i==1){
                        newdiv1.append(duplicate);}
                      else{
                        newdiv2.append(duplicate);
                    }
                    cl[i].removeChild(ch);
                    }

                }

                newdiv1.setAttribute('class','carousel-item');
                parentNode.insertBefore(newdiv1,cl[1]);

                for(var u=0;u<3;u++){
                  var child=cl[u].children;
                  for(var t=0;t<2;t++){
                    child[t].removeAttribute('class');
                      child[t].setAttribute('class','col-xs-6');
                  }
                }
            }

            else if(window.innerWidth<=399){
                
              var newdiv1=document.createElement('div');
              var newdiv2=document.createElement('div');
              var newdiv3=document.createElement('div');
              var newdiv4=document.createElement('div');
              var newdiv5=document.createElement('div');
              var newdiv6=document.createElement('div');
              var newdiv7=document.createElement('div');
              var newdiv8=document.createElement('div');
              
              
                var cl=document.getElementsByClassName('carousel-item');
                for(var i=0;i<cl.length;i++){
                  if(i==0){
                  for(var q=0;q<2;++q){
                    if(q==0){
                      var ch=cl[i].lastElementChild.previousElementSibling;
                      var duplicate=ch.cloneNode(true);
                      newdiv1.append(duplicate);
                      newdiv1.setAttribute('class','carousel-item');
                      cl[i].removeChild(ch);
                    }
                    else{
                      var newdiv2=document.createElement('div');
                      var ch=cl[i].lastElementChild
                      var duplicate=ch.cloneNode(true);
                      newdiv2.append(duplicate);
                      cl[i].removeChild(ch);
                    }
                  }
                }
                else if(i==1){
                  for(var q=0;q<2;++q){
                    if(q==0){
                      var ch=cl[i].lastElementChild.previousElementSibling;
                      var duplicate=ch.cloneNode(true);
                      newdiv3.append(duplicate);
                      newdiv3.setAttribute('class','carousel-item');
                      cl[i].removeChild(ch);
                    }
                    else{
                      var newdiv2=document.createElement('div');
                      var ch=cl[i].lastElementChild
                      var duplicate=ch.cloneNode(true);
                      newdiv4.append(duplicate);
                      newdiv4.setAttribute('class','carousel-item');
                      cl[i].removeChild(ch);
                    }
                  }
                }
                else if(i==2){
                  for(var q=0;q<2;++q){
                    if(q==0){
                      var ch=cl[i].lastElementChild.previousElementSibling;
                      var duplicate=ch.cloneNode(true);
                      newdiv5.append(duplicate);
                      newdiv5.setAttribute('class','carousel-item');
                      cl[i].removeChild(ch);
                    }
                    else{
                      var newdiv2=document.createElement('div');
                      var ch=cl[i].lastElementChild
                      var duplicate=ch.cloneNode(true);
                      newdiv6.append(duplicate);
                      newdiv6.setAttribute('class','carousel-item');
                      cl[i].removeChild(ch);
                    }
                  }
                }
                else{
                  for(var q=0;q<2;++q){
                    if(q==0){
                      var ch=cl[i].lastElementChild.previousElementSibling;
                      var duplicate=ch.cloneNode(true);
                      newdiv7.append(duplicate);
                      newdiv7.setAttribute('class','carousel-item');
                      cl[i].removeChild(ch);
                    }
                    else{
                      var newdiv2=document.createElement('div');
                      var ch=cl[i].lastElementChild
                      var duplicate=ch.cloneNode(true);
                      newdiv8.append(duplicate);
                      newdiv8.setAttribute('class','carousel-item');
                      cl[i].removeChild(ch);
                    }
                  }
                }
                  
            }
            parentNode.insertBefore(newdiv1,cl[1]);
            parentNode.insertBefore(newdiv2,cl[1]);
            parentNode.insertBefore(newdiv3,cl[2]);
            parentNode.insertBefore(newdiv4,cl[2]);
            parentNode.insertBefore(newdiv5,cl[3]);
            parentNode.insertBefore(newdiv6,cl[3]);
            parentNode.appendChild(newdiv1);
            parentNode.appendChild(newdiv1);
        }

        
      </script>
     </body>
</html>